In [1]:
print('hello')

hello

In [2]:
import pandas as pd
df=pd.read_excel("D:\\hoc\\thuctapthoinghiep\\pizza_sales_excel_file.xlsx")
df.head()

,pizza_id,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
0,1,1,hawaiian_m,1,2015-01-01,11:38:36,13.25,13.25,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza
1,2,2,classic_dlx_m,1,2015-01-01,11:57:40,16.00,16.00,M,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza
2,3,2,five_cheese_l,1,2015-01-01,11:57:40,18.50,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza
3,4,2,ital_supr_l,1,2015-01-01,11:57:40,20.75,20.75,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza
4,5,2,mexicana_m,1,2015-01-01,11:57:40,16.00,16.00,M,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza

In [3]:
df[2:5]

,pizza_id,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
2,3,2,five_cheese_l,1,2015-01-01,11:57:40,18.50,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza
3,4,2,ital_supr_l,1,2015-01-01,11:57:40,20.75,20.75,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza
4,5,2,mexicana_m,1,2015-01-01,11:57:40,16.00,16.00,M,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza

In [15]:
df.set_index('pizza_id',inplace=True)

In [13]:
df.reset_index(inplace=True)

In [16]:
df

,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
pizza_id,,,,,,,,,,,
1,1,hawaiian_m,1,2015-01-01,11:38:36,13.25,13.25,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza
2,2,classic_dlx_m,1,2015-01-01,11:57:40,16.00,16.00,M,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza
3,2,five_cheese_l,1,2015-01-01,11:57:40,18.50,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza
4,2,ital_supr_l,1,2015-01-01,11:57:40,20.75,20.75,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza
5,2,mexicana_m,1,2015-01-01,11:57:40,16.00,16.00,M,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza
...,...,...,...,...,...,...,...,...,...,...,...
48616,21348,ckn_alfredo_m,1,2015-12-31,21:23:10,16.75,16.75,M,Chicken,"Chicken, Red Onions, Red Peppers, Mushrooms, A...",The Chicken Alfredo Pizza
48617,21348,four_cheese_l,1,2015-12-31,21:23:10,17.95,17.95,L,Veggie,"Ricotta Cheese, Gorgonzola Piccante Cheese, Mo...",The Four Cheese Pizza
48618,21348,napolitana_s,1,2015-12-31,21:23:10,12.00,12.00,S,Classic,"Tomatoes, Anchovies, Green Olives, Red Onions,...",The Napolitana Pizza
48619,21349,mexicana_l,1,2015-12-31,22:09:54,20.25,20.25,L,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza
48620,21350,bbq_ckn_s,1,2015-12-31,23:02:05,12.75,12.75,S,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",The Barbecue Chicken Pizza

In [17]:
df.loc[44]

order_id                                                            17
pizza_name_id                                              calabrese_m
quantity                                                             1
order_date                                         2015-01-01 00:00:00
order_time                                                    13:53:00
unit_price                                                       16.25
total_price                                                      16.25
pizza_size                                                           M
pizza_category                                                 Supreme
pizza_ingredients    ?duja Salami, Pancetta, Tomatoes, Red Onions, ...
pizza_name                                         The Calabrese Pizza
Name: 44, dtype: object

In [19]:
df['pizza_ingredients'].str.replace('\\?duja','')

C:\Users\buidu\AppData\Local\Temp\ipykernel_21860\1043086533.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['pizza_ingredients'].str.replace('\\?duja','')

pizza_id
1                 Sliced Ham, Pineapple, Mozzarella Cheese
2        Pepperoni, Mushrooms, Red Onions, Red Peppers,...
3        Mozzarella Cheese, Provolone Cheese, Smoked Go...
4        Calabrese Salami, Capocollo, Tomatoes, Red Oni...
5        Tomatoes, Red Peppers, Jalapeno Peppers, Red O...
                               ...
48616    Chicken, Red Onions, Red Peppers, Mushrooms, A...
48617    Ricotta Cheese, Gorgonzola Piccante Cheese, Mo...
48618    Tomatoes, Anchovies, Green Olives, Red Onions,...
48619    Tomatoes, Red Peppers, Jalapeno Peppers, Red O...
48620    Barbecued Chicken, Red Peppers, Green Peppers,...
Name: pizza_ingredients, Length: 48620, dtype: object

In [21]:
df['pizza_ingredients']=df['pizza_ingredients'].str.replace('\\?duja','')
df.loc[44]

C:\Users\buidu\AppData\Local\Temp\ipykernel_21860\1171747622.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['pizza_ingredients']=df['pizza_ingredients'].str.replace('\\?duja','')

order_id                                                            17
pizza_name_id                                              calabrese_m
quantity                                                             1
order_date                                         2015-01-01 00:00:00
order_time                                                    13:53:00
unit_price                                                       16.25
total_price                                                      16.25
pizza_size                                                           M
pizza_category                                                 Supreme
pizza_ingredients     Salami, Pancetta, Tomatoes, Red Onions, Frigg...
pizza_name                                         The Calabrese Pizza
Name: 44, dtype: object

In [24]:
df[43:50]

,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
pizza_id,,,,,,,,,,,
44,17,calabrese_m,1,2015-01-01,13:53:00,16.25,16.25,M,Supreme,"Salami, Pancetta, Tomatoes, Red Onions, Frigg...",The Calabrese Pizza
45,17,five_cheese_l,1,2015-01-01,13:53:00,18.50,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza
46,17,four_cheese_m,1,2015-01-01,13:53:00,14.75,14.75,M,Veggie,"Ricotta Cheese, Gorgonzola Piccante Cheese, Mo...",The Four Cheese Pizza
47,17,ital_supr_m,1,2015-01-01,13:53:00,16.50,16.50,M,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza
48,17,ital_veggie_s,1,2015-01-01,13:53:00,12.75,12.75,S,Veggie,"Eggplant, Artichokes, Tomatoes, Zucchini, Red ...",The Italian Vegetables Pizza
49,17,mediterraneo_m,2,2015-01-01,13:53:00,16.00,32.00,M,Veggie,"Spinach, Artichokes, Kalamata Olives, Sun-drie...",The Mediterranean Pizza
50,17,mexicana_l,1,2015-01-01,13:53:00,20.25,20.25,L,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza

In [26]:
df=df.fillna('')
df

,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
pizza_id,,,,,,,,,,,
1,1,hawaiian_m,1,2015-01-01,11:38:36,13.25,13.25,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza
2,2,classic_dlx_m,1,2015-01-01,11:57:40,16.00,16.00,M,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza
3,2,five_cheese_l,1,2015-01-01,11:57:40,18.50,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza
4,2,ital_supr_l,1,2015-01-01,11:57:40,20.75,20.75,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza
5,2,mexicana_m,1,2015-01-01,11:57:40,16.00,16.00,M,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza
...,...,...,...,...,...,...,...,...,...,...,...
48616,21348,ckn_alfredo_m,1,2015-12-31,21:23:10,16.75,16.75,M,Chicken,"Chicken, Red Onions, Red Peppers, Mushrooms, A...",The Chicken Alfredo Pizza
48617,21348,four_cheese_l,1,2015-12-31,21:23:10,17.95,17.95,L,Veggie,"Ricotta Cheese, Gorgonzola Piccante Cheese, Mo...",The Four Cheese Pizza
48618,21348,napolitana_s,1,2015-12-31,21:23:10,12.00,12.00,S,Classic,"Tomatoes, Anchovies, Green Olives, Red Onions,...",The Napolitana Pizza
48619,21349,mexicana_l,1,2015-12-31,22:09:54,20.25,20.25,L,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza
48620,21350,bbq_ckn_s,1,2015-12-31,23:02:05,12.75,12.75,S,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",The Barbecue Chicken Pizza

In [37]:
df=df.sort_values(by=['pizza_name'])
df

,pizza_id,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
0,48620,21350,bbq_ckn_s,1,2015-12-31,23:02:05,12.75,12.75,S,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",The Barbecue Chicken Pizza
1578,37613,16609,bbq_ckn_m,1,2015-10-07,20:48:12,16.75,16.75,M,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",The Barbecue Chicken Pizza
1579,37607,16606,bbq_ckn_m,1,2015-10-07,19:46:29,16.75,16.75,M,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",The Barbecue Chicken Pizza
1580,11072,4850,bbq_ckn_l,1,2015-03-23,16:30:47,20.75,20.75,L,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",The Barbecue Chicken Pizza
1581,26748,11779,bbq_ckn_l,1,2015-07-16,15:58:44,20.75,20.75,L,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",The Barbecue Chicken Pizza
...,...,...,...,...,...,...,...,...,...,...,...,...
47712,29753,13145,veggie_veg_l,1,2015-08-07,21:22:06,20.25,20.25,L,Veggie,"Mushrooms, Tomatoes, Red Peppers, Green Pepper...",The Vegetables + Vegetables Pizza
47871,17056,7503,veggie_veg_s,1,2015-05-06,17:58:31,12.00,12.00,S,Veggie,"Mushrooms, Tomatoes, Red Peppers, Green Pepper...",The Vegetables + Vegetables Pizza
48270,37971,16763,veggie_veg_l,1,2015-10-10,20:00:02,20.25,20.25,L,Veggie,"Mushrooms, Tomatoes, Red Peppers, Green Pepper...",The Vegetables + Vegetables Pizza
48275,37945,16753,veggie_veg_m,1,2015-10-10,17:54:55,16.00,16.00,M,Veggie,"Mushrooms, Tomatoes, Red Peppers, Green Pepper...",The Vegetables + Vegetables Pizza
47495,29341,12956,veggie_veg_m,1,2015-08-04,19:26:33,16.00,16.00,M,Veggie,"Mushrooms, Tomatoes, Red Peppers, Green Pepper...",The Vegetables + Vegetables Pizza

In [45]:
df.reset_index(inplace=True)
df

,index,pizza_id,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name,order_num
0,0,48620,21350,bbq_ckn_s,1,2015-12-31,23:02:05,12.75,12.75,S,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",The Barbecue Chicken Pizza,1
1,1578,37613,16609,bbq_ckn_m,1,2015-10-07,20:48:12,16.75,16.75,M,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",The Barbecue Chicken Pizza,2
2,1579,37607,16606,bbq_ckn_m,1,2015-10-07,19:46:29,16.75,16.75,M,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",The Barbecue Chicken Pizza,3
3,1580,11072,4850,bbq_ckn_l,1,2015-03-23,16:30:47,20.75,20.75,L,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",The Barbecue Chicken Pizza,4
4,1581,26748,11779,bbq_ckn_l,1,2015-07-16,15:58:44,20.75,20.75,L,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",The Barbecue Chicken Pizza,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48615,47712,29753,13145,veggie_veg_l,1,2015-08-07,21:22:06,20.25,20.25,L,Veggie,"Mushrooms, Tomatoes, Red Peppers, Green Pepper...",The Vegetables + Vegetables Pizza,48616
48616,47871,17056,7503,veggie_veg_s,1,2015-05-06,17:58:31,12.00,12.00,S,Veggie,"Mushrooms, Tomatoes, Red Peppers, Green Pepper...",The Vegetables + Vegetables Pizza,48617
48617,48270,37971,16763,veggie_veg_l,1,2015-10-10,20:00:02,20.25,20.25,L,Veggie,"Mushrooms, Tomatoes, Red Peppers, Green Pepper...",The Vegetables + Vegetables Pizza,48618
48618,48275,37945,16753,veggie_veg_m,1,2015-10-10,17:54:55,16.00,16.00,M,Veggie,"Mushrooms, Tomatoes, Red Peppers, Green Pepper...",The Vegetables + Vegetables Pizza,48619
48619,47495,29341,12956,veggie_veg_m,1,2015-08-04,19:26:33,16.00,16.00,M,Veggie,"Mushrooms, Tomatoes, Red Peppers, Green Pepper...",The Vegetables + Vegetables Pizza,48620

In [48]:
df["pizza_ingredients"].str.split(',',1,expand=True)

C:\Users\buidu\AppData\Local\Temp\ipykernel_21860\3551714561.py:1: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df["pizza_ingredients"].str.split(',',1,expand=True)

                       0                                                  1
0      Barbecued Chicken   Red Peppers, Green Peppers, Tomatoes, Red Oni...
1      Barbecued Chicken   Red Peppers, Green Peppers, Tomatoes, Red Oni...
2      Barbecued Chicken   Red Peppers, Green Peppers, Tomatoes, Red Oni...
3      Barbecued Chicken   Red Peppers, Green Peppers, Tomatoes, Red Oni...
4      Barbecued Chicken   Red Peppers, Green Peppers, Tomatoes, Red Oni...
...                  ...                                                ...
48615          Mushrooms   Tomatoes, Red Peppers, Green Peppers, Red Oni...
48616          Mushrooms   Tomatoes, Red Peppers, Green Peppers, Red Oni...
48617          Mushrooms   Tomatoes, Red Peppers, Green Peppers, Red Oni...
48618          Mushrooms   Tomatoes, Red Peppers, Green Peppers, Red Oni...
48619          Mushrooms   Tomatoes, Red Peppers, Green Peppers, Red Oni...

[48620 rows x 2 columns]

In [49]:
df[['pizza_dish','ingredients']]=df["pizza_ingredients"].str.split(',',1,expand=True)
df

C:\Users\buidu\AppData\Local\Temp\ipykernel_21860\4220413694.py:1: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df[['pizza_dish','ingredients']]=df["pizza_ingredients"].str.split(',',1,expand=True)

,index,pizza_id,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name,order_num,pizza_dish,ingredients
0,0,48620,21350,bbq_ckn_s,1,2015-12-31,23:02:05,12.75,12.75,S,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",The Barbecue Chicken Pizza,1,Barbecued Chicken,"Red Peppers, Green Peppers, Tomatoes, Red Oni..."
1,1578,37613,16609,bbq_ckn_m,1,2015-10-07,20:48:12,16.75,16.75,M,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",The Barbecue Chicken Pizza,2,Barbecued Chicken,"Red Peppers, Green Peppers, Tomatoes, Red Oni..."
2,1579,37607,16606,bbq_ckn_m,1,2015-10-07,19:46:29,16.75,16.75,M,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",The Barbecue Chicken Pizza,3,Barbecued Chicken,"Red Peppers, Green Peppers, Tomatoes, Red Oni..."
3,1580,11072,4850,bbq_ckn_l,1,2015-03-23,16:30:47,20.75,20.75,L,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",The Barbecue Chicken Pizza,4,Barbecued Chicken,"Red Peppers, Green Peppers, Tomatoes, Red Oni..."
4,1581,26748,11779,bbq_ckn_l,1,2015-07-16,15:58:44,20.75,20.75,L,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",The Barbecue Chicken Pizza,5,Barbecued Chicken,"Red Peppers, Green Peppers, Tomatoes, Red Oni..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48615,47712,29753,13145,veggie_veg_l,1,2015-08-07,21:22:06,20.25,20.25,L,Veggie,"Mushrooms, Tomatoes, Red Peppers, Green Pepper...",The Vegetables + Vegetables Pizza,48616,Mushrooms,"Tomatoes, Red Peppers, Green Peppers, Red Oni..."
48616,47871,17056,7503,veggie_veg_s,1,2015-05-06,17:58:31,12.00,12.00,S,Veggie,"Mushrooms, Tomatoes, Red Peppers, Green Pepper...",The Vegetables + Vegetables Pizza,48617,Mushrooms,"Tomatoes, Red Peppers, Green Peppers, Red Oni..."
48617,48270,37971,16763,veggie_veg_l,1,2015-10-10,20:00:02,20.25,20.25,L,Veggie,"Mushrooms, Tomatoes, Red Peppers, Green Pepper...",The Vegetables + Vegetables Pizza,48618,Mushrooms,"Tomatoes, Red Peppers, Green Peppers, Red Oni..."
48618,48275,37945,16753,veggie_veg_m,1,2015-10-10,17:54:55,16.00,16.00,M,Veggie,"Mushrooms, Tomatoes, Red Peppers, Green Pepper...",The Vegetables + Vegetables Pizza,48619,Mushrooms,"Tomatoes, Red Peppers, Green Peppers, Red Oni..."
48619,47495,29341,12956,veggie_veg_m,1,2015-08-04,19:26:33,16.00,16.00,M,Veggie,"Mushrooms, Tomatoes, Red Peppers, Green Pepper...",The Vegetables + Vegetables Pizza,48620,Mushrooms,"Tomatoes, Red Peppers, Green Peppers, Red Oni..."

In [50]:
df=df.drop('pizza_ingredients',axis=1)
df.head()

,index,pizza_id,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_name,order_num,pizza_dish,ingredients
0,0,48620,21350,bbq_ckn_s,1,2015-12-31,23:02:05,12.75,12.75,S,Chicken,The Barbecue Chicken Pizza,1,Barbecued Chicken,"Red Peppers, Green Peppers, Tomatoes, Red Oni..."
1,1578,37613,16609,bbq_ckn_m,1,2015-10-07,20:48:12,16.75,16.75,M,Chicken,The Barbecue Chicken Pizza,2,Barbecued Chicken,"Red Peppers, Green Peppers, Tomatoes, Red Oni..."
2,1579,37607,16606,bbq_ckn_m,1,2015-10-07,19:46:29,16.75,16.75,M,Chicken,The Barbecue Chicken Pizza,3,Barbecued Chicken,"Red Peppers, Green Peppers, Tomatoes, Red Oni..."
3,1580,11072,4850,bbq_ckn_l,1,2015-03-23,16:30:47,20.75,20.75,L,Chicken,The Barbecue Chicken Pizza,4,Barbecued Chicken,"Red Peppers, Green Peppers, Tomatoes, Red Oni..."
4,1581,26748,11779,bbq_ckn_l,1,2015-07-16,15:58:44,20.75,20.75,L,Chicken,The Barbecue Chicken Pizza,5,Barbecued Chicken,"Red Peppers, Green Peppers, Tomatoes, Red Oni..."

In [51]:
df['order_num'] = range(1, len(df) + 1)
df

,index,pizza_id,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_name,order_num,pizza_dish,ingredients
0,0,48620,21350,bbq_ckn_s,1,2015-12-31,23:02:05,12.75,12.75,S,Chicken,The Barbecue Chicken Pizza,1,Barbecued Chicken,"Red Peppers, Green Peppers, Tomatoes, Red Oni..."
1,1578,37613,16609,bbq_ckn_m,1,2015-10-07,20:48:12,16.75,16.75,M,Chicken,The Barbecue Chicken Pizza,2,Barbecued Chicken,"Red Peppers, Green Peppers, Tomatoes, Red Oni..."
2,1579,37607,16606,bbq_ckn_m,1,2015-10-07,19:46:29,16.75,16.75,M,Chicken,The Barbecue Chicken Pizza,3,Barbecued Chicken,"Red Peppers, Green Peppers, Tomatoes, Red Oni..."
3,1580,11072,4850,bbq_ckn_l,1,2015-03-23,16:30:47,20.75,20.75,L,Chicken,The Barbecue Chicken Pizza,4,Barbecued Chicken,"Red Peppers, Green Peppers, Tomatoes, Red Oni..."
4,1581,26748,11779,bbq_ckn_l,1,2015-07-16,15:58:44,20.75,20.75,L,Chicken,The Barbecue Chicken Pizza,5,Barbecued Chicken,"Red Peppers, Green Peppers, Tomatoes, Red Oni..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48615,47712,29753,13145,veggie_veg_l,1,2015-08-07,21:22:06,20.25,20.25,L,Veggie,The Vegetables + Vegetables Pizza,48616,Mushrooms,"Tomatoes, Red Peppers, Green Peppers, Red Oni..."
48616,47871,17056,7503,veggie_veg_s,1,2015-05-06,17:58:31,12.00,12.00,S,Veggie,The Vegetables + Vegetables Pizza,48617,Mushrooms,"Tomatoes, Red Peppers, Green Peppers, Red Oni..."
48617,48270,37971,16763,veggie_veg_l,1,2015-10-10,20:00:02,20.25,20.25,L,Veggie,The Vegetables + Vegetables Pizza,48618,Mushrooms,"Tomatoes, Red Peppers, Green Peppers, Red Oni..."
48618,48275,37945,16753,veggie_veg_m,1,2015-10-10,17:54:55,16.00,16.00,M,Veggie,The Vegetables + Vegetables Pizza,48619,Mushrooms,"Tomatoes, Red Peppers, Green Peppers, Red Oni..."
48619,47495,29341,12956,veggie_veg_m,1,2015-08-04,19:26:33,16.00,16.00,M,Veggie,The Vegetables + Vegetables Pizza,48620,Mushrooms,"Tomatoes, Red Peppers, Green Peppers, Red Oni..."

In [52]:
df.groupby('pizza_name')

In [53]:
df

,index,pizza_id,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_name,order_num,pizza_dish,ingredients
0,0,48620,21350,bbq_ckn_s,1,2015-12-31,23:02:05,12.75,12.75,S,Chicken,The Barbecue Chicken Pizza,1,Barbecued Chicken,"Red Peppers, Green Peppers, Tomatoes, Red Oni..."
1,1578,37613,16609,bbq_ckn_m,1,2015-10-07,20:48:12,16.75,16.75,M,Chicken,The Barbecue Chicken Pizza,2,Barbecued Chicken,"Red Peppers, Green Peppers, Tomatoes, Red Oni..."
2,1579,37607,16606,bbq_ckn_m,1,2015-10-07,19:46:29,16.75,16.75,M,Chicken,The Barbecue Chicken Pizza,3,Barbecued Chicken,"Red Peppers, Green Peppers, Tomatoes, Red Oni..."
3,1580,11072,4850,bbq_ckn_l,1,2015-03-23,16:30:47,20.75,20.75,L,Chicken,The Barbecue Chicken Pizza,4,Barbecued Chicken,"Red Peppers, Green Peppers, Tomatoes, Red Oni..."
4,1581,26748,11779,bbq_ckn_l,1,2015-07-16,15:58:44,20.75,20.75,L,Chicken,The Barbecue Chicken Pizza,5,Barbecued Chicken,"Red Peppers, Green Peppers, Tomatoes, Red Oni..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48615,47712,29753,13145,veggie_veg_l,1,2015-08-07,21:22:06,20.25,20.25,L,Veggie,The Vegetables + Vegetables Pizza,48616,Mushrooms,"Tomatoes, Red Peppers, Green Peppers, Red Oni..."
48616,47871,17056,7503,veggie_veg_s,1,2015-05-06,17:58:31,12.00,12.00,S,Veggie,The Vegetables + Vegetables Pizza,48617,Mushrooms,"Tomatoes, Red Peppers, Green Peppers, Red Oni..."
48617,48270,37971,16763,veggie_veg_l,1,2015-10-10,20:00:02,20.25,20.25,L,Veggie,The Vegetables + Vegetables Pizza,48618,Mushrooms,"Tomatoes, Red Peppers, Green Peppers, Red Oni..."
48618,48275,37945,16753,veggie_veg_m,1,2015-10-10,17:54:55,16.00,16.00,M,Veggie,The Vegetables + Vegetables Pizza,48619,Mushrooms,"Tomatoes, Red Peppers, Green Peppers, Red Oni..."
48619,47495,29341,12956,veggie_veg_m,1,2015-08-04,19:26:33,16.00,16.00,M,Veggie,The Vegetables + Vegetables Pizza,48620,Mushrooms,"Tomatoes, Red Peppers, Green Peppers, Red Oni..."

In [54]:
# shift column 'Name' to first position 
first_column = df.pop('order_num') 
  
# insert column using insert(position,column_name, 
# first_column) function 
df.insert(0, 'order_num', first_column)

In [59]:
df

,order_num,pizza_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_name,pizza_dish,ingredients
0,1,48620,bbq_ckn_s,1,2015-12-31,23:02:05,12.75,12.75,S,Chicken,The Barbecue Chicken Pizza,Barbecued Chicken,"Red Peppers, Green Peppers, Tomatoes, Red Oni..."
1,2,37613,bbq_ckn_m,1,2015-10-07,20:48:12,16.75,16.75,M,Chicken,The Barbecue Chicken Pizza,Barbecued Chicken,"Red Peppers, Green Peppers, Tomatoes, Red Oni..."
2,3,37607,bbq_ckn_m,1,2015-10-07,19:46:29,16.75,16.75,M,Chicken,The Barbecue Chicken Pizza,Barbecued Chicken,"Red Peppers, Green Peppers, Tomatoes, Red Oni..."
3,4,11072,bbq_ckn_l,1,2015-03-23,16:30:47,20.75,20.75,L,Chicken,The Barbecue Chicken Pizza,Barbecued Chicken,"Red Peppers, Green Peppers, Tomatoes, Red Oni..."
4,5,26748,bbq_ckn_l,1,2015-07-16,15:58:44,20.75,20.75,L,Chicken,The Barbecue Chicken Pizza,Barbecued Chicken,"Red Peppers, Green Peppers, Tomatoes, Red Oni..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
48615,48616,29753,veggie_veg_l,1,2015-08-07,21:22:06,20.25,20.25,L,Veggie,The Vegetables + Vegetables Pizza,Mushrooms,"Tomatoes, Red Peppers, Green Peppers, Red Oni..."
48616,48617,17056,veggie_veg_s,1,2015-05-06,17:58:31,12.00,12.00,S,Veggie,The Vegetables + Vegetables Pizza,Mushrooms,"Tomatoes, Red Peppers, Green Peppers, Red Oni..."
48617,48618,37971,veggie_veg_l,1,2015-10-10,20:00:02,20.25,20.25,L,Veggie,The Vegetables + Vegetables Pizza,Mushrooms,"Tomatoes, Red Peppers, Green Peppers, Red Oni..."
48618,48619,37945,veggie_veg_m,1,2015-10-10,17:54:55,16.00,16.00,M,Veggie,The Vegetables + Vegetables Pizza,Mushrooms,"Tomatoes, Red Peppers, Green Peppers, Red Oni..."
48619,48620,29341,veggie_veg_m,1,2015-08-04,19:26:33,16.00,16.00,M,Veggie,The Vegetables + Vegetables Pizza,Mushrooms,"Tomatoes, Red Peppers, Green Peppers, Red Oni..."

In [75]:
df['pizza_name']=df['pizza_name'].str.replace('+','')
df['pizza_name'].str.title()

C:\Users\buidu\AppData\Local\Temp\ipykernel_21860\3574124105.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['pizza_name']=df['pizza_name'].str.replace('+','')

0              The Barbecue Chicken Pizza
1              The Barbecue Chicken Pizza
2              The Barbecue Chicken Pizza
3              The Barbecue Chicken Pizza
4              The Barbecue Chicken Pizza
                       ...
48615    The Vegetables  Vegetables Pizza
48616    The Vegetables  Vegetables Pizza
48617    The Vegetables  Vegetables Pizza
48618    The Vegetables  Vegetables Pizza
48619    The Vegetables  Vegetables Pizza
Name: pizza_name, Length: 48620, dtype: object

In [82]:
def remove_char(column):
    return column.str.replace('the vegetables', '')

df['pizza_name'] = remove_char(df['pizza_name'])
df['pizza_name']
df=df.fillna('pizza_name')

In [87]:
df['pizza_name']=df['pizza_name'].str.title()
df['pizza_name']

0        The Barbecue Chicken Pizza
1        The Barbecue Chicken Pizza
2        The Barbecue Chicken Pizza
3        The Barbecue Chicken Pizza
4        The Barbecue Chicken Pizza
                    ...
48615              Vegetables Pizza
48616              Vegetables Pizza
48617              Vegetables Pizza
48618              Vegetables Pizza
48619              Vegetables Pizza
Name: pizza_name, Length: 48620, dtype: object

In [89]:
df

,order_num,pizza_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_name,pizza_dish,ingredients
0,1,48620,bbq_ckn_s,1,2015-12-31,23:02:05,12.75,12.75,S,Chicken,The Barbecue Chicken Pizza,Barbecued Chicken,"Red Peppers, Green Peppers, Tomatoes, Red Oni..."
1,2,37613,bbq_ckn_m,1,2015-10-07,20:48:12,16.75,16.75,M,Chicken,The Barbecue Chicken Pizza,Barbecued Chicken,"Red Peppers, Green Peppers, Tomatoes, Red Oni..."
2,3,37607,bbq_ckn_m,1,2015-10-07,19:46:29,16.75,16.75,M,Chicken,The Barbecue Chicken Pizza,Barbecued Chicken,"Red Peppers, Green Peppers, Tomatoes, Red Oni..."
3,4,11072,bbq_ckn_l,1,2015-03-23,16:30:47,20.75,20.75,L,Chicken,The Barbecue Chicken Pizza,Barbecued Chicken,"Red Peppers, Green Peppers, Tomatoes, Red Oni..."
4,5,26748,bbq_ckn_l,1,2015-07-16,15:58:44,20.75,20.75,L,Chicken,The Barbecue Chicken Pizza,Barbecued Chicken,"Red Peppers, Green Peppers, Tomatoes, Red Oni..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
48615,48616,29753,veggie_veg_l,1,2015-08-07,21:22:06,20.25,20.25,L,Veggie,Vegetables Pizza,Mushrooms,"Tomatoes, Red Peppers, Green Peppers, Red Oni..."
48616,48617,17056,veggie_veg_s,1,2015-05-06,17:58:31,12.00,12.00,S,Veggie,Vegetables Pizza,Mushrooms,"Tomatoes, Red Peppers, Green Peppers, Red Oni..."
48617,48618,37971,veggie_veg_l,1,2015-10-10,20:00:02,20.25,20.25,L,Veggie,Vegetables Pizza,Mushrooms,"Tomatoes, Red Peppers, Green Peppers, Red Oni..."
48618,48619,37945,veggie_veg_m,1,2015-10-10,17:54:55,16.00,16.00,M,Veggie,Vegetables Pizza,Mushrooms,"Tomatoes, Red Peppers, Green Peppers, Red Oni..."
48619,48620,29341,veggie_veg_m,1,2015-08-04,19:26:33,16.00,16.00,M,Veggie,Vegetables Pizza,Mushrooms,"Tomatoes, Red Peppers, Green Peppers, Red Oni..."

In [90]:
df.to_excel('D:\\hoc\\thuctapthoinghiep\\new_pizza.xlsx',sheet_name='newPizza')